body{
 margin:0;
 padding:0;
 font-family:sans-serif;
 overflow-x: hidden;
}

section{
 position: absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 box-sizing:border-box;
 padding:100px;
 transition:0.5s;
}

section.dark{
 background:#262626;
 color:#fff;
}

#but{
 position:absolute;
 top:20px;
 right:20px;
 margin:0;
 padding:0;
 width:100px;
 height:30px;
 z-index:1;
 border:1px solid #000;
 border-radius:4px;
 cursor:pointer;
 overflow:hidden;
}

#but.active{
 border-color:#fff;
}

#but li{
 list-style:none;
 width:100%;
 height:60px;
 text-align:center;
 text-transform:uppercase;
 transition:0.5s;
}

#but.active li{
 transform:translateY(-30px);
}

#but li span{
 display:block;
 width:100%;
 height:30px;
 line-height:30px;
 color:#262626;
 background:#fff;
}

#but li span:nth-child(1){
 background:#262626;
 color:#fff;
}

@media (max-width: 1100px){
  section{
    position: relative;
  }
}