<!doctype html>
<html lang="en">

<head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Halo, apa Kabar</title>
</head>

<body>

    <div class="row p-5">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h1 class="header font-weight-bold">Halo, apa Kabar!</h1>
            <form action="{% url 'landing:submit' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" id="input" rows="1" placeholder="How are you feeling today?"
                        name="input"></textarea>
                </div>
                <button class="btn btn-secondary" id="submit">Submit!</button>
            </form>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
            <div class="output">
                {% for stat in status%}
                <div class="card text-white bg-secondary border-dark mb-3 mt-3">
                    <div class="card-header">{{ stat.created_at }}</div>
                    <div class="card-body text-white">
                        <p class="card-text">{{ stat }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>